- if Radiant::Config['tags.complex_strings'] == 'true'
  - include_javascript 'admin/protomultiselect.js'
  - include_stylesheet 'admin/tags.css'

  - content_for :page_scripts do
    :plain
      document.observe('dom:loaded', function() {
        var taglist = new FacebookList('page_meta_tags', 'tag_container', {
          newValues: true, 
          separator: ';',
          separatorKeyCode: 186
        });
        var tags = #{MetaTag.with_locale.and_class_name("Page").all.map {|tag| {caption: tag.name, value: tag.name} }.to_json};
        tags.each(function(t) { taglist.autoFeed(t) });
      });

%tr.tags
  %th.label
    %label{:for => "page_meta_tags"}
      = t('tags_extension.tags')
  %td.field
    = f.text_field :meta_tags, :value => @page.tag_list, :class => 'textbox', :id => 'page_meta_tags'
    #tag_container{:style => "display: none"}
      .default
        = t('tags_extension.type_a_tag')
      %ul
    - unless model.errors.on_base.nil?
      %span.error= model.errors.on_base
